<h1>Přehled týmů</h1>

<div id="team_table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Název</th>
        <th>Počet Účastníků</th>
        <th>Body</th>
        <th>Akce</th>
      </tr>
    </thead>
    <tbody>
    <% @teams.each do |team| %>
      <tr>
      <td><%= team.title %></td>
      <td><%= team.participants.size %></td>
      <% if params[:limit] %>
        <td><%= team.points(params[:limit]) %></td>
      <% else %>
        <td><%= team.points %></td>
      <% end %>
      <td>
        <div class="btn-group">
          <%= link_to 'Startovní listina', race_participants_path(@current_race,filter:"team_#{team.id}"), :class => 'btn btn-mini' %>
          <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Výsledková listina', race_results_path(@current_race,filter:"team_#{team.id}") %></li>
          </ul>
        </div>
      </td>
    </tr>
  <% end %>
  </table>
</div>
