<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.association :county %>
    <%= f.input :yob %>
    <%= f.input :gender, as: :radio_buttons, collection:[:male,:female], checked: :male %>
    <%= f.input :born, discard_year:true, include_blank:true %>
    <%= f.input :full_name %>
    <%= f.input :id_string %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
