<h1>Přehled Závodů</h1>

<table>
  <tr>
    <th>Název</th>
    <th>Datum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= race.title %></td>
    <td><%= race.held_on %></td>
    <td><%= link_to 'Zobrazit', race %></td>
    <td><%= link_to 'Upravit', edit_race_path(race) %></td>
    <td><%= link_to 'Smazat', race, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Race', new_race_path %>
