<p>
<b>Pozice:</b> <%= result.position %>
</p>
<p>
<b>Kategorie:</b> <%= result.participant.category.title %>
</p>
<p>
<b>Startovní číslo:</b> <%= result.participant.starting_no %>
</p>
<p>
<b>Účastník:</b> <%= result.participant.person.display_name %>
</p>
<p>
<b>Čas:</b> <%= result.time %>
</p>
