<h1>Nový výsledek</h1>

<div class="col-lg-8">
<%= render 'form' %>
<% if @previous_result %>
  <div class="col-lg-12 alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h1>Předchozí výsledek</h1>
    <%= render partial: 'detail', locals: {result: @previous_result} %>
  </div>
<% end %>
  <%= link_to 'Zpět', race_results_path(@current_race), class:"btn btn-default" %>
</div>
<% if @previous_result %>
  <div class="col-lg-4" id="category_results"
    data-category-id="<%= @previous_result.participant.category_id %>"
    data-race-id="<%= @current_race.id %>"></div>
<% end %>
