<table class="table table-striped">
  <thead>
    <tr>
      <th><%= unsortable("Název") %></th>
      <th><%= unsortable("Omezení") %></th>
      <th><%= unsortable("Počet Účastníků") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.title %></td>
      <td><%= category.restriction %></td>
      <td><%= category.participants.size %></td>
      <td>
        <div class="btn-group">
          <%= link_to 'Upravit', edit_race_category_path(@current_race,category), :class => 'btn btn-xs btn-default' %>
          <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Zobrazit', race_category_path(@current_race,category) %></li>
            <li><%= link_to 'Startovní listina', race_participants_path(@current_race,filter:"category_#{category.id}") %></li>
            <li><%= link_to 'Výsledková listina', race_results_path(@current_race,filter:"category_#{category.id}") %></li>
            <li><%= link_to 'Smazat', race_category_path(@current_race,category), method: :delete, data: { confirm: 'Jste si jisti?' } %></li>
          </ul>
        </div>
      </td>
    </tr>
  <% end %>
</table>
